In [1]:
#Declare a float value and store it in a variable. 

a=2.5



#Check the type and print the id of the same.

print(type(a), id(a))

<class 'float'> 1079769229840

In [3]:
#Arithmatic Operations on float
#Take two different float values.
#Store them in two different variables.
a3=6.2
b3=8.4
#Do below operations on them:-
    #Find sum of both numbers
c3=a3+b3
print("sum:",c3)
    #Find differce between them
c3=a3-b3
print("differce: ",c3)
    #Find the product of both numbers.
c3=a3*b3
print("product ",c3)
    #Find value after dividing first num with second number
c3=a3/b3
print("dividing first num with second number ",c3)
    #Find the remainder after dividing first number with second number
c3=a3%b3
print("remainder after dividing first number with second number :",c3)
    #Find the quotient after dividing first number with second number
c3=a3//b3
print("quotient after dividing first number with second number :",c3)
    #Find the result of first num to the power of second number.
c3=a3**b3
print("first num to the power of second number :",c3)

sum: 14.600000000000001
differce:  -2.2
product  52.080000000000005
dividing first num with second number  0.7380952380952381
remainder after dividing first number with second number : 6.2
quotient after dividing first number with second number : 0.0
first num to the power of second number : 4529916.448406674

In [6]:
#Comparison Operators on float
#Take two different float values.
#Store them in two different variables.

#Do below operations on them:-
    #Compare these two numbers with below operator:-
        #Greater than, '>'

        #Smaller than, '<'

        #Greater than or equal to, '>='

        #Less than or equal to, '<='

#Observe their output(return type should be boolean)

a4=90.96
b4=90.968
print("a4>b4 :",a4>b4)
print("a4<b4 :",a4<b4)
print("a4>=b4 :",a4>=b4)
print("a4<=b4 :",a4<=b4)

a4>b4 : False
a4<b4 : True
a4>=b4 : False
a4<=b4 : True

In [1]:
#Equality Operator
#Take two different float values.
#Store them in two different variables.

#Equuate them using equality operator (==, !=)

#Observe the output(return type should be boolean)

a5=20.2
b5=20.22
print("a5==b5 :",a5==b5)
print("a5!=b5 :",a5!=b5)

a5==b5 : False
a5!=b5 : True

In [12]:
#Logical operators
#Observe the output of below code
#Cross check the output manually

print(10.20 and 20.30)       #both are true and second value taken >Output is 20.3
print(0.0 and 20.30)         #First is false so first value taken->Output is 0.0
print(20.30 and 0.0)         #Goes to till second and second value is false so second is taken>Output is 0.0
print(0.0 and 0.0)           #First is false so first value is taken->Output is 0.0

print(10.20 or 20.30)        #First is True so first value is taken>Output is 10.2
print(0.0 or 20.30)          #Goes to till second and second is true second value is taken->Output is 20.3
print(20.30 or 0.0)          #First is True so first value is taken->Output is 20.3
print(0.0 or 0.0)            #Goes to till second and secod is also false and second value is taken>Output is 0.0

print(not 10.20)             #-Not of true is false->Output is False
print(not 0.0)               #Not of false is True>Output is True

#Observe all the results.
print (bool(10))
print (bool(20))
print (bool(0))

print (True and True)
print (False and True)
print (True and False)
print (False and False)

print (True or True)
print (False or True)
print (True or False)
print (False or False)


print(not True)            
print(not False)

20.3
0.0
0.0
0.0
10.2
20.3
20.3
0.0
False
True
True
True
False
True
False
False
False
True
True
True
False
False
True

In [13]:
#What is the output of expression inside print statement. Cross check before running the program.
a = 10.20
b = 10.20
print(a is b)          #True or False? True 10.20<256
print(a is not b)      #True or False? False


# Why the Id of float values are different when the same value is assigned to two different variables
#Answer: Interning is not applicable for float as there could be infinite numbers in between 0-256. 

# ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a anc c's
# Id are same
#Answer: ID of a and c will be same as they are pointig to the same memory allocate for 10.5.

False
True

In [ ]:
#Bitwise operation is not applicable between instances of float.
## Why the Id of float values are different when the same value is assigned to two different variables
#Answer: Interning is not applicable for float as there could be infinite numbers in between 0-256. 

## ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a anc c's
## Id are same
#Object reusability concept is not applicable on float values.

#Answer: ID of a and c will be same as they are pointig to the same memory allocate for 10.5

In [14]:
#Membership operation
#in, not in are two membership operators and it returns boolean value

print('2.7' in 'Python2.7.8')              #True
print(10.20 in [10,10.20,10+20j,'Python']) #True
print(10.20 in (10,10.20,10+20j,'Python')) # True
print(20.30 in {1,20.30,30+40j})           # True
print(2.3 in {1:100, 2.3:200, 30+40j:300}) # True
print(10 in range(20))                     # True

True
True
True
True
True
True